.bg-nav {
    background-color: #fcefdc;
}
.s-m {
    color: #006DA3;
    font-weight: 500;
}
.s-f {
    color: #de0076;
    font-weight: 500;
}
.s-n {
    color: #587A00;
    font-weight: 500;
}
.s-p {
    color: #C58607;
    font-weight: 500;
}