body {
    background-color: #fffefa;
}
h2 {
    color:#ab164d;
}
h3 {
    color: #04556e;
    margin-top: 15px;
}
h4 {
    color: #8607a0;
    margin-top: 15px;
}
h5 {
    color: #5c0a33;
    margin-top: 15px;
    text-align: center;
}

.bg-nav {
    background-color: #fcefdc;
}
.s-m {
    color: #006DA3;
    font-weight: 500;
}
.s-f {
    color: #de0076;
    font-weight: 500;
}
.s-n {
    color: #587A00;
    font-weight: 500;
}
.s-p {
    color: #C58607;
    font-weight: 500;
}
.s-b {
    font-weight: 500;
}
.s-bb {
    color: black;
    font-weight: 500;
}

.ccard {
    background-color: #f0f3ff;
}
.btn-lec, .btn-lec:hover, .btn-lec:active, .btn-lec:visited {
    background-color: #b3f6ff !important;
    border: 1.5px solid #014d59;
}
.s-tt {
    color: #571900;
    font-weight: 600;
    font-size: 150%;
    margin-left: 20px;
}
a {
    text-decoration: none;
}
.s-pr {
    color:#1a7565;
    font-weight: 500;
}
.s-neg {
    color:#d11340;
    font-weight: 500;
}

.s-nom {
    color: #0D98BA;
    font-weight: 500;
}
.s-akk {
    color: #ba1aba;
    font-weight: 500;
}
.s-dat {
    color: #F5C414;
    font-weight: 500;
}
.s-gen {
    color: #ED6A5A;
    font-weight: 500;
}
.ejemplo {
    margin-left: 20px;
}